/* Body header styles */

body {background-color:antiquewhite;
font-family: arial, times new roman, verdana;}
body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px 5px 5px 5px 5px;
}
body > * {outline: 1.5px solid black;
}

body > header {
    display: block;
    width: 100%;
}

body > header {
    grid-column: 1 / -1;
    grid-row: 1;
}

body > header > nav.horizontalNavigation li {
    width: 20%; 
}

nav.horizontalNavigation li {
    display: block;    
    float: left; 
}

body > Who We Are {
    grid-column: 1;
    grid-row: 2;
}

body > Our Mission {
    grid-column: 2;
    grid-row: 2;
}

body > Our 4 Ministries {
    grid-column: 1;
    grid-row: 3;
}

body > This Month Sermons {
    grid-column: 2;
    grid-row: 3;
}

body > ol {
    grid-column: 2;
    grid-row: 4;
}
body > section1 {
    grid-column: 1 / -1;
    grid-row: 5;
    padding: 5px;
    background-color: burlywood;
    color: black
}

body > section2 {
     grid-column: 1 / -1;
    grid-row: 6;
    padding: 5px;
    background-color: burlywood;
    color: black
}
body > footer {
    grid-column: 1 / -1;
    grid-row: 7;
    padding: 5px;
    text-align: center;
    background-color: navajowhite;
}

